<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wellness Tracker</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>


    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

 <% unless notice.nil? %>
 <p class="alert alert-info"><%= notice %></p>
 <% end %>
 <%unless alert.nil? %>
 <p class="alert alert-danger"><%= alert %></p>
 <% end %>

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Wellness Tracker</a>
    </div>
    <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <% if user_signed_in? %>
      <li>
        <%= link_to "Log Now!", new_activity_log_path %>
       </li>
      <li>
        <%= link_to "My Logs", activity_logs_path %>
       </li>
         <li>
        <%= link_to "Compare Scores", scores_path %>
       </li>
       <% end %>
    </ul>
    <p class="navbar-text pull-right">
      <% if user_signed_in? %>
      <%= current_user.email %>| <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></p>
      <% else %>
      <%= link_to "Log In", new_user_session_path %> | <%= link_to "Sign Up!", new_user_registration_path %></p> 
      <% end %>      
  </div>
  </div>
</div>
</head>

<body>

  <div class = "container">
    
 
<%= yield %>
      
  </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
  </body>
</html>