<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Wellness Tracker</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>


    <!-- Bootstrap -->
    <link href="/assets/bootstrap.css" rel="stylesheet">

 <% unless notice.nil? %>
 <p class="alert alert-info"><%= notice %></p>
 <% end %>
 <%unless alert.nil? %>
 <p class="alert alert-danger"><%= alert %></p>
 <% end %>

<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Wellness Tracker</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li>
        <%= link_to "Activities Tracker", activity_records_path %>
       </li>
    </ul>
    <p class="navbar-text pull-right">
      <% if user_signed_in? %>
      <%= current_user.email %>| <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></p>
      <% else %>
      <%= link_to "Log In", new_user_session_path %> | <%= link_to "Sign Up!", new_user_registration_path %></p> 
      <% end %>      
  </div>
</div>
</head>

<body>

  <div class = "container">
 
<%= yield %>

  </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/assets/bootstrap.js"></script>
  </body>
</html>